DATABASE_NAME=CidadeInteligente
DATABASE_HOST=(localdb)\\mssqllocaldb
# Only necessary outside from Docker compose and k8s
DATABASE_USER=sa
DATABASE_PASSWORD=
# Minimum of 8 characters, including uppercase letters, lowercase letters, and numbers.
CONNECTIONSTRINGS__FILESTORAGE=
SENDGRID_APIKEY=
