DATABASE_NAME=CidadeInteligente
DATABASE_USER=sa
DATABASE_PASSWORD=
# Minimum of 8 characters, including uppercase letters, lowercase letters, and numbers.
CONNECTIONSTRINGS__FILESTORAGE=
SENDGRID_APIKEY=
