@using CidadeInteligente.Domain.Constants
@{
    ViewData["Title"] = "Enviar email de recuperação de senha";
    ViewData["ShowFooter"] = false;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/auth.css">
}

<div class="limiter">
    <div class="container-login100">
        <div class="main">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-6 painel">
                        <div class="img-logo-cidade">
                            <img src="img/icon-auth.png">
                        </div>
                        <h3 class="text-center title mb-3">Recuperação de Senha</h3>
                        <form class="form">
                            <div class="inputIcon">
                                <input required maxlength="@UserConstraints.EmailMaxLength" type="email" name="email" class="form-input" aria-describedby="emailHelp" placeholder="Digite o Email de sua conta">
                                <i class="mdi mdi-email-check"></i>
                            </div>
                        </form>
                        <button type="button" class="btn mb-2 btn-strong-red btn-block btn-recover">
                            Enviar Email de Recuperação
                        </button>
                        <a href="login" class="forget-password">Voltar ao Login</a>
                        <div class="text-center font-weight-bold mt-3">
                            &copy; @DateTime.UtcNow.Year
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/recover-password.js"></script>
}
