@{
    this.ViewData["Title"] = "Login";
    this.ViewData["ignoreFooter"] = true;
}

<link rel="stylesheet" href="~/css/auth.css">

<div class="limiter">
    <div class="container-login100">
        <div class="main">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-5 painel">
                        <div class="img-logo-cidade"><img src="~/img/iconAuth.png"></div>
                        <h3 class="text-center title mb-3">Login</h3>
                        <form id="formulario" class="form">
                            <div class="inputIcon">
                                <input type="email" name="email" class="form-input" aria-describedby="emailHelp" placeholder="Digite o email">
                                <i class="mdi mdi-email-check"></i>
                            </div>
                            <div class="inputIcon mt-3">
                                <input type="password" name="password" class="form-input" placeholder="Digite a sua senha">
                                <i class="mdi mdi-key"></i>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 col-md-12 mt-2 mb-2 text-left">
                                    <a href="recuperar-senha" class="forget-password">
                                        Esqueceu a senha?
                                    </a>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn mb-2 btn-block btn-strong-red btn-login">Entrar</button>
                        <div class="text-center font-weight-bold mt-3">&copy; @DateTime.Now.Year</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $(".btn-login").click(async () => {
            formHasEmptyField($("form").serializeArray());

            sweetAlertAwait("Fazendo login...");
            const { status, body } = await restAPI.post("auth/login", {
                email: $("input[name=email]").val().trim(),
                password: $("input[name=password]").val().trim()
            });
            toggleExitConfirmation(false);

            switch (status) {
                case 204:
                    sweetAlert("success", "Login efetuado!").then(({ value }) => value && $(location).attr("href", "/"));
                    break;
                case 400:
                    handleBadRequest(body);
                    break;
                case 404:
                    sweetAlert("error", "E-mail e/ou senha não coincidem!");
                    break;
                default:
                    sweetAlert("error", "Um erro desconhecido ocorreu durante o seu login!");
                    break;
            }
        });
    });
</script>